<!DOCTYPE html>
<html>
<head>
	<title>Add page</title>
</head>
<body>
	<h1> Add Page</h1>
	{% if category%}
	<form id="page_form" method="POST" action="rango/add_page/">
		{% csrf_token %}
		{% for hidden in form.hidden_fields%}
			{{ hidden }}
		{% endfor%}
		{% for field in form.visible_fields%}
		<p>
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}			
		</p>			
		{% endfor%}
		<input type="submit" name="submit" value="create page">
	</form>
	{% else%}
	<p> A category by this name does not exist</p>
	{% endif%}


</body>
</html>