<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Rango</title>
</head>
<body>
<h1>Rango says... Hello World</h1>
<p>
	{% if categories%}
	<ul>
		{% for category in categories%}
		 <!-- Following line changed to add an HTML hyperlink -->
		<li> <a href="{% url 'rango:category' category.slug%}"> {{ category.name}} </a></li>
		{% endfor%}
	</ul>
	{% else %}
	<strong> There are no categories present</strong> <br>
	{% endif %}
</p>
<p>
	<h2 style="color: blue"> Top five most viewed pages</h2>
	{% if pages%}
	<ul>
		{% for page in pages %}
		<li><a href="{{page.url}}">{{ page.title }} - {{ page.views }} views</a></li>
		{%endfor%}
	</ul>
	{% else %}
	<strong> There are no pages present </strong>
	{% endif%}
	<a href="/rango/about">About</a><br>
	<a href="/rango/add_category">Add a new category</a>
</p>
</body>
</html>